@model Sfa.Poc.ResultsAndCertification.Dfe.Models.RegisteredTqProviderDetails
@{
    ViewData["Title"] = "Provider Details";
}



<div class="text-center">

    <h1>Tq Provider Details</h1>

    <div>
        <p>
            <strong>UkAoCode:</strong> @Model.UkAoCode
        </p>
        <p>
            <strong>UkAoName:</strong> @Model.UkAoName
        </p>
        <p>
            <strong>UkProviderCode:</strong> @Model.UkProviderCode
        </p>
        <p>
            <strong>UkProviderName:</strong> @Model.UkProviderName
        </p>

        <p>
            <strong>TqRouteCode:</strong> @Model.TqRouteCode
        </p>
        <p>
            <strong>TqRouteName:</strong> @Model.TqRouteName
        </p>
        <p>
            <strong>TqPathwayCode:</strong> @Model.TqPathwayCode
        </p>
        <p>
            <strong>TqPathwayName:</strong> @Model.TqPathwayName
        </p>
        <p>
            <strong>TqSpecialismCode:</strong> @Model.TqSpecialismCode
        </p>
        <p>
            <strong>TqSpecialismName:</strong> @Model.TqSpecialismName
        </p>
    </div>
</div>