@model IEnumerable<Sfa.Poc.ResultsAndCertification.CsvHelper.Common.CsvHelper.Model.ValidationError>

@{
    ViewData["Title"] = "ValidationErrorList";
}

<h1 class="govuk-heading-l">ValidationErrorList</h1>

<div class="govuk-body">
    <p>
        <a asp-action="Upload">Upload New</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FieldName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FieldValue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RowNum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RawRow)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ErrorMessage)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FieldName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FieldValue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RowNum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RawRow)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ErrorMessage)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>